@{
    ViewData["Title"] = "SSE Demo";
}
@section Scripts
{
    <script src='~/js/sse.js' defer></script>
}
<h2>@ViewData["Title"]</h2>

<span id="sseResult"></span>
<span id="fileContent"></span>
<hr>
<button class="btn btn-info" id="btnClosetime">Close Time Stream</button>
<button id="btnClosefile" class="btn btn-danger">Close File Stream</button>
