@{
    ViewData["Title"] = "Slow test";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<a href="https://andrewlock.net/using-cancellationtokens-in-asp-net-core-mvc-controllers/">Referrence link</a>
